ignore-workspace-root-check=true
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
prefer-workspace-packages=true
hoist-workspace-packages=true
public-hoist-pattern[]=@tokenami/dev # needed for the ts-plugin to load locally
