@layer global {
  *, :before, :after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.5;
  }
}

@layer tokenami {
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  :root {
    --_grid: .25rem;
    --alpha_100: 1;
    --alpha_30: .3;
    --alpha_80: .8;
    --anim_wiggle: wiggle 1s ease-in-out infinite;
    --font_sans: sans-serif;
    --radii_circle: 9999px;
    --radii_none: none;
    --radii_rounded: 10px;
    --size_auto: auto;
    --size_fill: 100%;
    --size_screen-h: 100vh;
  }

  :root, :root [style] {
    --border_thin: 1px solid var(--color_slate-700);
  }

  .theme-light {
    --pet_favourite: "🐶";
  }

  .theme-light, .theme-light [style] {
    --color_primary: rgba(241 245 249 / var(--_color-opacity, 1));
    --color_secondary: rgba(51 65 85 / var(--_color-opacity, 1));
    --color_sky-500: rgba(14 165 233 / var(--_color-opacity, 1));
    --color_slate-100: rgba(241 245 249 / var(--_color-opacity, 1));
    --color_slate-700: rgba(51 65 85 / var(--_color-opacity, 1));
  }

  .theme-dark {
    --pet_favourite: "🐱";
  }

  .theme-dark, .theme-dark [style] {
    --color_primary: rgba(14 165 233 / var(--_color-opacity, 1));
    --color_secondary: rgba(241 245 249 / var(--_color-opacity, 1));
    --color_sky-500: rgba(14 165 233 / var(--_color-opacity, 1));
    --color_slate-100: rgba(241 245 249 / var(--_color-opacity, 1));
    --color_slate-700: rgba(51 65 85 / var(--_color-opacity, 1));
  }

  [style] {
    --color-opacity: initial;
    --md: initial;
    --md_color-opacity: initial;
    --hover: initial;
    --hover_color-opacity: initial;
    --background-color: initial;
    --hover_background-color: initial;
    --\{\&\;focus\;hover\}: initial;
    --\{\&\;focus\;hover\}_background-color: initial;
    --child-para: initial;
    --select: initial;
    --select_background-color: initial;
    --color: initial;
    --hover_color: initial;
    --select_color: initial;
    --border: initial;
    --border-bottom: initial;
    --border-radius: initial;
    --md_border-radius: initial;
    --lg: initial;
    --lg_border-radius: initial;
    --xl: initial;
    --xl_border-radius: initial;
    --2xl: initial;
    --2xl_border-radius: initial;
    --font-family: initial;
    --width: initial;
    --md_width: initial;
    --lg_width: initial;
    --xl_width: initial;
    --2xl_width: initial;
    --height: initial;
    --md_height: initial;
    --lg_height: initial;
    --xl_height: initial;
    --2xl_height: initial;
    --transition: initial;
    --hover_animation: initial;
    --font-size: initial;
    --md_font-size: initial;
    --lg_font-size: initial;
    --xl_font-size: initial;
    --2xl_font-size: initial;
    --min-height: initial;
    --background-size: initial;
    --background-image: initial;
    --background-position-x: initial;
    --background-position-y: initial;
    --display: initial;
    --md_display: initial;
    --flex-direction: initial;
    --align-items: initial;
    --justify-content: initial;
    --padding-left: initial;
    --padding-right: initial;
    --text-align: initial;
    --md_text-align: initial;
    --overflow: initial;
    --margin: initial;
    --padding-top: initial;
    --padding-bottom: initial;
    --md_padding: initial;
    --padding: initial;
    --line-height: initial;
    --after: initial;
    --after_content: initial;
    --md_after: initial;
    --md_after_content: initial;
    --font-weight: initial;
    --margin-bottom: initial;
    --margin-left: initial;
    --margin-right: initial;
    --border-block-end: initial;
    --border-color: initial;
    --object-fit: initial;
    --all: initial;
    --border-left-width: initial;
    --border-right-width: initial;
  }

  @layer tk0 {
    [style] {
      all: var(--all, revert-layer);
    }
  }

  @layer tk1 {
    [style] {
      --_color-opacity: var(--color-opacity, revert-layer);
      color: var(--color, revert-layer);
      border: var(--border, revert-layer);
      border-radius: var(--border-radius, revert-layer);
      width: var(--_15jvuf0, var(--width, revert-layer));
      --_15jvuf0: var(--width__calc) calc(var(--width) * var(--_grid));
      height: var(--_r8sevj, var(--height, revert-layer));
      --_r8sevj: var(--height__calc) calc(var(--height) * var(--_grid));
      transition: var(--transition, revert-layer);
      min-height: var(--_1ljreoo, var(--min-height, revert-layer));
      --_1ljreoo: var(--min-height__calc) calc(var(--min-height) * var(--_grid));
      display: var(--display, revert-layer);
      text-align: var(--text-align, revert-layer);
      overflow: var(--overflow, revert-layer);
      margin: var(--_n3khrc, var(--margin, revert-layer));
      --_n3khrc: var(--margin__calc) calc(var(--margin) * var(--_grid));
      padding: var(--_2dqpfb, var(--padding, revert-layer));
      --_2dqpfb: var(--padding__calc) calc(var(--padding) * var(--_grid));
      object-fit: var(--object-fit, revert-layer);
    }
  }

  @layer tk2 {
    [style] {
      background-color: var(--background-color, revert-layer);
      border-bottom: var(--border-bottom, revert-layer);
      font-family: var(--font-family, revert-layer);
      font-size: var(--font-size, revert-layer);
      background-size: var(--background-size, revert-layer);
      background-image: var(--background-image, revert-layer);
      flex-direction: var(--flex-direction, revert-layer);
      align-items: var(--align-items, revert-layer);
      justify-content: var(--justify-content, revert-layer);
      padding-left: var(--_1l6ill9, var(--padding-left, revert-layer));
      --_1l6ill9: var(--padding-left__calc) calc(var(--padding-left) * var(--_grid));
      padding-right: var(--_eeg826, var(--padding-right, revert-layer));
      --_eeg826: var(--padding-right__calc) calc(var(--padding-right) * var(--_grid));
      padding-top: var(--_alekcd, var(--padding-top, revert-layer));
      --_alekcd: var(--padding-top__calc) calc(var(--padding-top) * var(--_grid));
      padding-bottom: var(--_1if2c2d, var(--padding-bottom, revert-layer));
      --_1if2c2d: var(--padding-bottom__calc) calc(var(--padding-bottom) * var(--_grid));
      line-height: var(--line-height, revert-layer);
      font-weight: var(--font-weight, revert-layer);
      margin-bottom: var(--_1rgufc4, var(--margin-bottom, revert-layer));
      --_1rgufc4: var(--margin-bottom__calc) calc(var(--margin-bottom) * var(--_grid));
      margin-left: var(--_1u4ehd0, var(--margin-left, revert-layer));
      --_1u4ehd0: var(--margin-left__calc) calc(var(--margin-left) * var(--_grid));
      margin-right: var(--_6ffjt3, var(--margin-right, revert-layer));
      --_6ffjt3: var(--margin-right__calc) calc(var(--margin-right) * var(--_grid));
      border-color: var(--border-color, revert-layer);
    }
  }

  @layer tk3 {
    [style] {
      background-position-x: var(--_1k3at6j, var(--background-position-x, revert-layer));
      --_1k3at6j: var(--background-position-x__calc) calc(var(--background-position-x) * var(--_grid));
      background-position-y: var(--_1k3at6i, var(--background-position-y, revert-layer));
      --_1k3at6i: var(--background-position-y__calc) calc(var(--background-position-y) * var(--_grid));
    }
  }

  @layer tk5 {
    [style] {
      border-left-width: var(--border-left-width, revert-layer);
      border-right-width: var(--border-right-width, revert-layer);
    }
  }

  @layer tkl3 {
    [style] {
      border-block-end: var(--border-block-end, revert-layer);
    }
  }

  @layer tks1 {
    [style], [style] > p, [style*="select_"]::selection, [style]:after {
      --_color-opacity: var(--_hgg3v5, var(--_r6a24m, var(--color-opacity)));
      --_r6a24m: var(--md) var(--md_color-opacity);
      --_hgg3v5: var(--hover) var(--hover_color-opacity);
      color: var(--_6grdv7, var(--_hdgn0i, var(--_853it7, revert-layer)));
      --_853it7: var(--hover) var(--hover_color);
      --_hdgn0i: var(--child-para) var(--child-para_color);
      --_6grdv7: var(--select) var(--select_color);
      border-radius: var(--_18mum7u, var(--_1a98csj, var(--_1hh3291, var(--_1aut28, var(--_176qpn4, revert-layer)))));
      --_18mum7u: var(--child-para) var(--child-para_border-radius);
      --_176qpn4: var(--md) var(--md_border-radius);
      --_1aut28: var(--lg) var(--lg_border-radius);
      --_1hh3291: var(--xl) var(--xl_border-radius);
      --_1a98csj: var(--2xl) var(--2xl_border-radius);
      width: var(--_lgvp90, var(--_1qgla5e, var(--_3q4l9b, var(--_rmk1kf, revert-layer))));
      --_rmk1kf: var(--md) var(--_4ps7bs, var(--md_width));
      --_4ps7bs: var(--md_width__calc) calc(var(--md_width) * var(--_grid));
      --_3q4l9b: var(--lg) var(--_mj6pr8, var(--lg_width));
      --_mj6pr8: var(--lg_width__calc) calc(var(--lg_width) * var(--_grid));
      --_1qgla5e: var(--xl) var(--_a41ah1, var(--xl_width));
      --_a41ah1: var(--xl_width__calc) calc(var(--xl_width) * var(--_grid));
      --_lgvp90: var(--2xl) var(--_17j0oi7, var(--2xl_width));
      --_17j0oi7: var(--2xl_width__calc) calc(var(--2xl_width) * var(--_grid));
      height: var(--_18bne5j, var(--_131ipn5, var(--_midacu, var(--_1hvgbk2, revert-layer))));
      --_1hvgbk2: var(--md) var(--_11v92un, var(--md_height));
      --_11v92un: var(--md_height__calc) calc(var(--md_height) * var(--_grid));
      --_midacu: var(--lg) var(--_1fml2u5, var(--lg_height));
      --_1fml2u5: var(--lg_height__calc) calc(var(--lg_height) * var(--_grid));
      --_131ipn5: var(--xl) var(--_1d0b81c, var(--xl_height));
      --_1d0b81c: var(--xl_height__calc) calc(var(--xl_height) * var(--_grid));
      --_18bne5j: var(--2xl) var(--_1ugpr66, var(--2xl_height));
      --_1ugpr66: var(--2xl_height__calc) calc(var(--2xl_height) * var(--_grid));
      animation: var(--_1upk2ho, revert-layer);
      --_1upk2ho: var(--hover) var(--hover_animation);
      display: var(--_cbroqb, revert-layer);
      --_cbroqb: var(--md) var(--md_display);
      text-align: var(--_1hooa64, revert-layer);
      --_1hooa64: var(--md) var(--md_text-align);
      padding: var(--_1tfdub6, revert-layer);
      --_1tfdub6: var(--md) var(--_1injeaf, var(--md_padding));
      --_1injeaf: var(--md_padding__calc) calc(var(--md_padding) * var(--_grid));
      content: var(--_bpstpr, var(--_bkpo73, revert-layer));
      --_bkpo73: var(--after) var(--after_content);
      --_bpstpr: var(--md_after) var(--md_after_content);
    }
  }

  @layer tks2 {
    [style], [style] > p, [style*="select_"]::selection, [style]:after {
      background-color: var(--_1r7lnia, var(--_3prh80, var(--_1chvnfl, var(--_1fio48, var(--_4dvc60, revert-layer)))));
      --_4dvc60: var(--hover) var(--hover_background-color);
      --_1fio48: var(--\{\&\;focus\;hover\}) var(--\{\&\;focus\;hover\}_background-color);
      --_1chvnfl: var(--child-para) var(--child-para_background-color);
      --_3prh80: var(--select) var(--select_background-color);
      --_1r7lnia: var(--\{\&\;focus\;hover\}) var(--\{\&\;focus\;hover\}_background-color);
      font-size: var(--_1qfo97, var(--_1tqbkib, var(--_1283h2s, var(--_1pod6o8, revert-layer))));
      --_1pod6o8: var(--md) var(--md_font-size);
      --_1283h2s: var(--lg) var(--lg_font-size);
      --_1tqbkib: var(--xl) var(--xl_font-size);
      --_1qfo97: var(--2xl) var(--2xl_font-size);
      padding-left: var(--_13ih5qc, revert-layer);
      --_13ih5qc: var(--child-para) var(--_tapqil, var(--child-para_padding-left));
      --_tapqil: var(--child-para_padding-left__calc) calc(var(--child-para_padding-left) * var(--_grid));
      padding-right: var(--_1h6o3of, revert-layer);
      --_1h6o3of: var(--child-para) var(--_d9jvo8, var(--child-para_padding-right));
      --_d9jvo8: var(--child-para_padding-right__calc) calc(var(--child-para_padding-right) * var(--_grid));
    }
  }

  @media (width >= 700px) {
    [style] {
      --md: ;
    }

    [style]:after {
      --md_after: ;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    [style]:hover {
      --hover: ;
    }
  }

  [style] > p {
    --child-para: ;
  }

  [style*="select_"]::selection {
    --select: ;
  }

  [style]:focus:hover {
    --\{\&\;focus\;hover\}: ;
  }

  @media (width >= 1024px) {
    [style] {
      --lg: ;
    }
  }

  @media (width >= 1280px) {
    [style] {
      --xl: ;
    }
  }

  @media (width >= 1536px) {
    [style] {
      --2xl: ;
    }
  }

  [style]:after {
    --after: ;
  }
}
