@keyframes wiggle {
  0%, 100% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }
}

:root {
  --_grid: .25rem;
  --size_fill: 100%;
  --color_sky-500: #0ea5e9;
  --size_screen-h: 100vh;
  --color_slate-100: #f1f5f9;
  --radii_rounded: 10px;
  --font_sans: sans-serif;
  --color_slate-700: #334155;
  --anim_wiggle: wiggle 1s ease-in-out infinite;
  --radii_circle: 9999px;
  --size_auto: auto;
  --radii_none: none;
}

[style] {
  --all: initial;
  --_1upk2ho: var(--hover) var(--hover_animation);
  --hover_animation: initial;
  --animation: initial;
  --hover: initial;
  --_4dvc60: var(--hover) var(--hover_background-color);
  --hover_background-color: initial;
  --_g2kfvl: var(--focus-hover) var(--focus-hover_background-color);
  --focus-hover_background-color: initial;
  --_1atsbkt: var(--md_focus-hover) var(--md_focus-hover_background-color);
  --md_focus-hover_background-color: initial;
  --background-color: initial;
  --focus-hover: initial;
  --md_focus-hover: initial;
  --background-image: initial;
  --background-position-x: initial;
  --background-position-y: initial;
  --background-size: initial;
  --border: initial;
  --border-right-width: initial;
  --border-left-width: initial;
  --_176qpn4: var(--md) var(--md_border-radius);
  --md_border-radius: initial;
  --_1aut28: var(--lg) var(--lg_border-radius);
  --lg_border-radius: initial;
  --_1hh3291: var(--xl) var(--xl_border-radius);
  --xl_border-radius: initial;
  --_1a98csj: var(--2xl) var(--2xl_border-radius);
  --2xl_border-radius: initial;
  --border-radius: initial;
  --md: initial;
  --lg: initial;
  --xl: initial;
  --2xl: initial;
  --_853it7: var(--hover) var(--hover_color);
  --hover_color: initial;
  --color: initial;
  --_cbroqb: var(--md) var(--md_display);
  --md_display: initial;
  --display: initial;
  --flex-direction: initial;
  --font-family: initial;
  --_1qfo97: var(--2xl) var(--2xl_font-size);
  --2xl_font-size: initial;
  --font-size: initial;
  --font-weight: initial;
  --_1hvgbk2: var(--md) var(--md_height);
  --md_height: initial;
  --_midacu: var(--lg) var(--lg_height);
  --lg_height: initial;
  --_131ipn5: var(--xl) var(--xl_height);
  --xl_height: initial;
  --_18bne5j: var(--2xl) var(--2xl_height);
  --2xl_height: initial;
  --height: initial;
  --line-height: initial;
  --margin: initial;
  --margin-right: initial;
  --margin-bottom: initial;
  --margin-left: initial;
  --min-height: initial;
  --object-fit: initial;
  --overflow: initial;
  --_1tfdub6: var(--md) var(--md_padding);
  --md_padding: initial;
  --padding: initial;
  --padding-top: initial;
  --padding-right: initial;
  --padding-bottom: initial;
  --padding-left: initial;
  --justify-content: initial;
  --align-items: initial;
  --_1hooa64: var(--md) var(--md_text-align);
  --md_text-align: initial;
  --text-align: initial;
  --transition: initial;
  --_rmk1kf: var(--md) var(--md_width);
  --md_width: initial;
  --_3q4l9b: var(--lg) var(--lg_width);
  --lg_width: initial;
  --_1qgla5e: var(--xl) var(--xl_width);
  --xl_width: initial;
  --_lgvp90: var(--2xl) var(--2xl_width);
  --2xl_width: initial;
  --width: initial;
  --border-block-end: initial;
}

@layer tk-short {
  [style] {
    all: var(--all, revert-layer);
    border: var(--border, revert-layer);
    border-radius: var(--border-radius, revert-layer);
    margin: var(--margin, revert-layer);
    overflow: var(--overflow, revert-layer);
    padding: var(--padding, revert-layer);
    transition: var(--transition, revert-layer);
  }
}

@layer tk-long {
  [style] {
    background-color: var(--background-color, revert-layer);
    background-image: var(--background-image, revert-layer);
    background-position-x: var(--background-position-x, revert-layer);
    background-position-y: var(--background-position-y, revert-layer);
    background-size: var(--background-size, revert-layer);
    border-right-width: var(--border-right-width, revert-layer);
    border-left-width: var(--border-left-width, revert-layer);
    color: var(--color, revert-layer);
    display: var(--display, revert-layer);
    flex-direction: var(--flex-direction, revert-layer);
    font-family: var(--font-family, revert-layer);
    font-size: var(--font-size, revert-layer);
    font-weight: var(--font-weight, revert-layer);
    height: var(--height, revert-layer);
    line-height: var(--line-height, revert-layer);
    margin-right: var(--margin-right, revert-layer);
    margin-bottom: var(--margin-bottom, revert-layer);
    margin-left: var(--margin-left, revert-layer);
    min-height: var(--min-height, revert-layer);
    object-fit: var(--object-fit, revert-layer);
    padding-top: var(--padding-top, revert-layer);
    padding-right: var(--padding-right, revert-layer);
    padding-bottom: var(--padding-bottom, revert-layer);
    padding-left: var(--padding-left, revert-layer);
    justify-content: var(--justify-content, revert-layer);
    align-items: var(--align-items, revert-layer);
    text-align: var(--text-align, revert-layer);
    width: var(--width, revert-layer);
  }
}

@layer tk-short-logical {
  [style] {
    border-block-end: var(--border-block-end, revert-layer);
  }
}

@layer tk-selector-short {
  [style] {
    animation: var(--_1upk2ho, var(--animation, revert-layer));
    border-radius: var(--_1a98csj, var(--_1hh3291, var(--_1aut28, var(--_176qpn4, var(--border-radius, revert-layer)))));
    padding: var(--_1tfdub6, var(--padding, revert-layer));
  }
}

@layer tk-selector-long {
  [style] {
    background-color: var(--_1atsbkt, var(--_g2kfvl, var(--_4dvc60, var(--background-color, revert-layer))));
    color: var(--_853it7, var(--color, revert-layer));
    display: var(--_cbroqb, var(--display, revert-layer));
    font-size: var(--_1qfo97, var(--font-size, revert-layer));
    height: var(--_18bne5j, var(--_131ipn5, var(--_midacu, var(--_1hvgbk2, var(--height, revert-layer)))));
    text-align: var(--_1hooa64, var(--text-align, revert-layer));
    width: var(--_lgvp90, var(--_1qgla5e, var(--_3q4l9b, var(--_rmk1kf, var(--width, revert-layer)))));
  }
}

@media (hover: hover) and (pointer: fine) {
  [style]:hover {
    --hover: ;
  }
}

[style]:focus:hover {
  --focus-hover: ;
}

@media (width >= 700px) {
  [style]:focus:hover {
    --md_focus-hover: ;
  }

  [style] {
    --md: ;
  }
}

@media (width >= 1024px) {
  [style] {
    --lg: ;
  }
}

@media (width >= 1280px) {
  [style] {
    --xl: ;
  }
}

@media (width >= 1536px) {
  [style] {
    --2xl: ;
  }
}
