@layer global {
  :root {
    --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-stretch: normal;
    --font-style: normal;
    --font-variant: normal;
    --font-weight: normal;
  }

  *, :before, :after {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--font-family);
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  hr {
    color: inherit;
    border-top-width: 1px;
    height: 0;
  }

  abbr:where([title]) {
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    --font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family: var(--font-family);
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  button, input, optgroup, select, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: none;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: none;
  }

  input:where(:not([type="button"], [type="reset"], [type="submit"])), select, textarea {
    border: 1px solid;
  }

  button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  :-moz-focusring {
    outline: auto;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  progress {
    vertical-align: baseline;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  ::webkit-search-decoration {
    -webkit-appearance: none;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  textarea {
    resize: vertical;
  }

  ::placeholder {
    opacity: 1;
    color: color-mix(in srgb, currentColor 50%, transparent);
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  [hidden]:not([hidden="until-found"]) {
    display: none;
  }
}

@layer tokenami {
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }

    50% {
      opacity: .5;
    }
  }

  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  :root {
    --_grid: .25rem;
    --anim_pulse: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
    --anim_wiggle: wiggle 1s ease-in-out infinite;
    --font_mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font_sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --leading_7: 1.75rem;
    --leading_loose: 2;
    --line_0: 0 solid;
    --line_px: .0625rem solid;
    --morph_all: all cubic-bezier(.4, 0, .2, 1) .15s;
    --radii_3xl: 1.5rem;
    --radii_full: 9999px;
    --radii_lg: .5rem;
    --radii_none: 0;
    --radii_sm: .125rem;
    --size_auto: auto;
    --size_full: 100%;
    --text-size_4xl: 2.25rem;
    --text-size_lg: 1.125rem;
    --text-size_xl: 1.25rem;
    --weight_medium: 500;
  }

  :root, :root [style] {
    --text_base: var(--font-stretch) var(--font-style) var(--font-variant) var(--font-weight) 1rem / 1.5rem var(--font-family);
    --text_xl: var(--font-stretch) var(--font-style) var(--font-variant) var(--font-weight) 1.25rem / 1.75rem var(--font-family);
  }

  :root, [data-theme="light"] {
    --color_amber12: #4f3422;
    --color_amber9: #ffc53d;
    --color_indigo10: #3358d4;
    --color_indigo5: #d2deff;
    --color_indigo6: #c1d0ff;
    --color_violet10: #654dc4;
    --color_violet11: #6550b9;
    --color_violet9: #6e56cf;
    --color_white: #fff;
    --pet_favourite: "🐶";
  }

  [data-theme="dark"] {
    --color_amber12: #ffe7b3;
    --color_amber9: #ffc53d;
    --color_indigo10: #5472e4;
    --color_indigo5: #253974;
    --color_indigo6: #304384;
    --color_violet10: #7d66d9;
    --color_violet11: #baa7ff;
    --color_violet9: #6e56cf;
    --color_white: #fff;
    --pet_favourite: "🐱";
  }

  [style] {
    --sm: initial;
    --md: initial;
    --lg: initial;
    --xl: initial;
    --xxl: initial;
    --background-color: initial;
    --hover: initial;
    --hover_background-color: initial;
    --\{\&\;focus\;hover\}: initial;
    --\{\&\;focus\;hover\}_background-color: initial;
    --child-para: initial;
    --selection: initial;
    --selection_background-color: initial;
    --border-block-end-width: initial;
    --border-color: initial;
    --border-radius: initial;
    --sm_border-radius: initial;
    --md_border-radius: initial;
    --lg_border-radius: initial;
    --xl_border-radius: initial;
    --xxl_border-radius: initial;
    --inline-size: initial;
    --sm_inline-size: initial;
    --md_inline-size: initial;
    --lg_inline-size: initial;
    --xl_inline-size: initial;
    --xxl_inline-size: initial;
    --block-size: initial;
    --sm_block-size: initial;
    --md_block-size: initial;
    --lg_block-size: initial;
    --xl_block-size: initial;
    --xxl_block-size: initial;
    --transition: initial;
    --hover_animation: initial;
    --min-height: initial;
    --background-size: initial;
    --background-image: initial;
    --background-position-x: initial;
    --background-position-y: initial;
    --display: initial;
    --md_display: initial;
    --flex-direction: initial;
    --align-items: initial;
    --justify-content: initial;
    --padding-inline: initial;
    --overflow: initial;
    --margin: initial;
    --padding-block: initial;
    --md_padding: initial;
    --padding: initial;
    --after: initial;
    --after_content: initial;
    --md_after: initial;
    --md_after_content: initial;
    --padding-block-start: initial;
    --margin-block-end: initial;
    --margin-inline: initial;
    --margin-inline-start: initial;
    --border: initial;
    --border-block-end: initial;
    --object-fit: initial;
  }

  @layer tk1 {
    [style] {
      border-radius: var(--border-radius, revert-layer);
      transition: var(--transition, revert-layer);
      color: var(--color, revert-layer);
      font: var(--font, revert-layer);
      min-height: var(--_1ljreoo, var(--min-height, revert-layer));
      --_1ljreoo: var(--min-height__calc) calc(var(--min-height) * var(--_grid));
      display: var(--display, revert-layer);
      text-align: var(--text-align, revert-layer);
      overflow: var(--overflow, revert-layer);
      margin: var(--_n3khrc, var(--margin, revert-layer));
      --_n3khrc: var(--margin__calc) calc(var(--margin) * var(--_grid));
      padding: var(--_2dqpfb, var(--padding, revert-layer));
      --_2dqpfb: var(--padding__calc) calc(var(--padding) * var(--_grid));
      border: var(--border, revert-layer);
      object-fit: var(--object-fit, revert-layer);
    }
  }

  @layer tk2 {
    [style] {
      font-family: var(--font-family, revert-layer);
      font-stretch: var(--font-stretch, revert-layer);
      font-style: var(--font-style, revert-layer);
      font-variant: var(--font-variant, revert-layer);
      font-weight: var(--font-weight, revert-layer);
      background-color: var(--background-color, revert-layer);
      border-color: var(--border-color, revert-layer);
      background-size: var(--background-size, revert-layer);
      background-image: var(--background-image, revert-layer);
      flex-direction: var(--flex-direction, revert-layer);
      align-items: var(--align-items, revert-layer);
      justify-content: var(--justify-content, revert-layer);
      line-height: var(--line-height, revert-layer);
      font-size: var(--font-size, revert-layer);
    }
  }

  @layer tk3 {
    [style] {
      background-position-x: var(--_1k3at6j, var(--background-position-x, revert-layer));
      --_1k3at6j: var(--background-position-x__calc) calc(var(--background-position-x) * var(--_grid));
      background-position-y: var(--_1k3at6i, var(--background-position-y, revert-layer));
      --_1k3at6i: var(--background-position-y__calc) calc(var(--background-position-y) * var(--_grid));
    }
  }

  @layer tkl1 {
    [style] {
      inline-size: var(--_g44f3h, var(--inline-size, revert-layer));
      --_g44f3h: var(--inline-size__calc) calc(var(--inline-size) * var(--_grid));
      block-size: var(--_1ieen97, var(--block-size, revert-layer));
      --_1ieen97: var(--block-size__calc) calc(var(--block-size) * var(--_grid));
      padding-inline: var(--_1od2e5r, var(--padding-inline, revert-layer));
      --_1od2e5r: var(--padding-inline__calc) calc(var(--padding-inline) * var(--_grid));
      padding-block: var(--_esg7el, var(--padding-block, revert-layer));
      --_esg7el: var(--padding-block__calc) calc(var(--padding-block) * var(--_grid));
      margin-inline: var(--_1uh1ege, var(--margin-inline, revert-layer));
      --_1uh1ege: var(--margin-inline__calc) calc(var(--margin-inline) * var(--_grid));
    }
  }

  @layer tkl2 {
    [style] {
      --_1mbhke0: var(--padding-block-start__calc) calc(var(--padding-block-start) * var(--_grid));
      --_13f2miu: var(--margin-block-end__calc) calc(var(--margin-block-end) * var(--_grid));
      --_14lv7pp: var(--margin-inline-start__calc) calc(var(--margin-inline-start) * var(--_grid));
      margin-block-end: var(--_13f2miu, var(--margin-block-end, revert-layer));
      margin-inline-start: var(--_14lv7pp, var(--margin-inline-start, revert-layer));
      padding-block-start: var(--_1mbhke0, var(--padding-block-start, revert-layer));
    }
  }

  @layer tkl3 {
    [style] {
      border-block-end: var(--border-block-end, revert-layer);
    }
  }

  @layer tkl7 {
    [style] {
      border-block-end-width: var(--border-block-end-width, revert-layer);
    }
  }

  @layer tks1 {
    [style], [style] > p, [style*="selection_"]::selection, [style]:after {
      border-radius: var(--_18mum7u, var(--_1ckstr7, var(--_1hh3291, var(--_1aut28, var(--_176qpn4, var(--_117pkm7, revert-layer))))));
      --_18mum7u: var(--child-para) var(--child-para_border-radius);
      --_117pkm7: var(--sm) var(--sm_border-radius);
      --_176qpn4: var(--md) var(--md_border-radius);
      --_1aut28: var(--lg) var(--lg_border-radius);
      --_1hh3291: var(--xl) var(--xl_border-radius);
      --_1ckstr7: var(--xxl) var(--xxl_border-radius);
      animation: var(--_1upk2ho, revert-layer);
      --_1upk2ho: var(--hover) var(--hover_animation);
      color: var(--_853it7, var(--_1v8oal9, revert-layer));
      --_1v8oal9: var(--selection) var(--selection_color);
      --_853it7: var(--hover) var(--hover_color);
      font: var(--_1gipe25, var(--_mhgvlt, var(--_10ti6tm, var(--_104t2cq, var(--_qp58in, revert-layer)))));
      --_qp58in: var(--sm) var(--sm_font);
      --_104t2cq: var(--md) var(--md_font);
      --_10ti6tm: var(--lg) var(--lg_font);
      --_mhgvlt: var(--xl) var(--xl_font);
      --_1gipe25: var(--xxl) var(--xxl_font);
      display: var(--_cbroqb, revert-layer);
      --_cbroqb: var(--md) var(--md_display);
      text-align: var(--_1hooa64, revert-layer);
      --_1hooa64: var(--md) var(--md_text-align);
      padding: var(--_1tfdub6, revert-layer);
      --_1tfdub6: var(--md) var(--_1injeaf, var(--md_padding));
      --_1injeaf: var(--md_padding__calc) calc(var(--md_padding) * var(--_grid));
      content: var(--_bpstpr, var(--_bkpo73, revert-layer));
      --_bkpo73: var(--after) var(--after_content);
      --_bpstpr: var(--md_after) var(--md_after_content);
    }
  }

  @layer tks2 {
    [style], [style] > p, [style*="selection_"]::selection, [style]:after {
      font-family: var(--_6j96ia, var(--_9d9ope, var(--_10sf9dp, var(--_1l5j3ql, var(--_1oveq08, revert-layer)))));
      --_1oveq08: var(--sm) var(--sm_font-family);
      --_1l5j3ql: var(--md) var(--md_font-family);
      --_10sf9dp: var(--lg) var(--lg_font-family);
      --_9d9ope: var(--xl) var(--xl_font-family);
      --_6j96ia: var(--xxl) var(--xxl_font-family);
      background-color: var(--_1r7lnia, var(--_1ir0lsg, var(--_1chvnfl, var(--_1fio48, var(--_4dvc60, revert-layer)))));
      --_4dvc60: var(--hover) var(--hover_background-color);
      --_1fio48: var(--\{\&\;focus\;hover\}) var(--\{\&\;focus\;hover\}_background-color);
      --_1chvnfl: var(--child-para) var(--child-para_background-color);
      --_1ir0lsg: var(--selection) var(--selection_background-color);
      --_1r7lnia: var(--\{\&\;focus\;hover\}) var(--\{\&\;focus\;hover\}_background-color);
      font-size: var(--_bemlmj, revert-layer);
      --_bemlmj: var(--xxl) var(--xxl_font-size);
    }
  }

  @layer tksl1 {
    [style], [style] > p, [style*="selection_"]::selection, [style]:after {
      inline-size: var(--_1s1v5hn, var(--_1c1c65v, var(--_19kqniq, var(--_lbmt5u, var(--_3gor0r, revert-layer)))));
      --_3gor0r: var(--sm) var(--_kbghma, var(--sm_inline-size));
      --_kbghma: var(--sm_inline-size__calc) calc(var(--sm_inline-size) * var(--_grid));
      --_lbmt5u: var(--md) var(--_knjh7j, var(--md_inline-size));
      --_knjh7j: var(--md_inline-size__calc) calc(var(--md_inline-size) * var(--_grid));
      --_19kqniq: var(--lg) var(--_9ia3mn, var(--lg_inline-size));
      --_9ia3mn: var(--lg_inline-size__calc) calc(var(--lg_inline-size) * var(--_grid));
      --_1c1c65v: var(--xl) var(--_191j8mg, var(--xl_inline-size));
      --_191j8mg: var(--xl_inline-size__calc) calc(var(--xl_inline-size) * var(--_grid));
      --_1s1v5hn: var(--xxl) var(--_128md1s, var(--xxl_inline-size));
      --_128md1s: var(--xxl_inline-size__calc) calc(var(--xxl_inline-size) * var(--_grid));
      block-size: var(--_1uebu2j, var(--_155216b, var(--_1oe7f7s, var(--_131hdf8, var(--_i1msor, revert-layer)))));
      --_i1msor: var(--sm) var(--_7fmqb0, var(--sm_block-size));
      --_7fmqb0: var(--sm_block-size__calc) calc(var(--sm_block-size) * var(--_grid));
      --_131hdf8: var(--md) var(--_ab77q3, var(--md_block-size));
      --_ab77q3: var(--md_block-size__calc) calc(var(--md_block-size) * var(--_grid));
      --_1oe7f7s: var(--lg) var(--_ukb26v, var(--lg_block-size));
      --_ukb26v: var(--lg_block-size__calc) calc(var(--lg_block-size) * var(--_grid));
      --_155216b: var(--xl) var(--_1n1rrhq, var(--xl_block-size));
      --_1n1rrhq: var(--xl_block-size__calc) calc(var(--xl_block-size) * var(--_grid));
      --_1uebu2j: var(--xxl) var(--_m7qn96, var(--xxl_block-size));
      --_m7qn96: var(--xxl_block-size__calc) calc(var(--xxl_block-size) * var(--_grid));
      padding-inline: var(--_hvq2vq, revert-layer);
      --_hvq2vq: var(--child-para) var(--_13rhg63, var(--child-para_padding-inline));
      --_13rhg63: var(--child-para_padding-inline__calc) calc(var(--child-para_padding-inline) * var(--_grid));
    }
  }

  @media (width >= 40rem) {
    [style] {
      --sm: ;
    }
  }

  @media (width >= 48rem) {
    [style] {
      --md: ;
    }

    [style]:after {
      --md_after: ;
    }
  }

  @media (width >= 64rem) {
    [style] {
      --lg: ;
    }
  }

  @media (width >= 80rem) {
    [style] {
      --xl: ;
    }
  }

  @media (width >= 96rem) {
    [style] {
      --xxl: ;
    }
  }

  @media (hover: hover) and (pointer: fine) {
    [style]:not(:disabled):hover {
      --hover: ;
    }
  }

  [style] > p {
    --child-para: ;
  }

  [style*="selection_"]::selection {
    --selection: ;
  }

  [style]:focus:hover {
    --\{\&\;focus\;hover\}: ;
  }

  [style]:after {
    --after: ;
  }
}
