*, :before, :after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

@layer tokenami {
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  .theme-light {
    --_grid: .25rem;
    --anim_wiggle: wiggle 1s ease-in-out infinite;
    --font_sans: sans-serif;
    --radii_rounded: 10px;
  }

  [style] {
    --border_thin: 1px solid var(--color_slate-700);
    --color_slate-700: rgba(51 65 85 / var(--color-opacity, 1));
    --color_primary: rgba(14 165 233 / var(--color-opacity, 1));
    --color_secondary: rgba(241 245 249 / var(--color-opacity, 1));
  }

  .theme-dark {
    --_grid: .25rem;
    --anim_wiggle: wiggle 1s ease-in-out infinite;
    --font_sans: sans-serif;
    --radii_rounded: 10px;
  }

  [style] {
    --background-color: initial;
    --hover: initial;
    --hover_background-color: initial;
    --\{\&\;focus\;hover\}: initial;
    --\{\&\;focus\;hover\}_background-color: initial;
    --color: initial;
    --hover_color: initial;
    --border: initial;
    --border-bottom: initial;
    --border-radius: initial;
    --font-family: initial;
    --width: initial;
    --height: initial;
    --transition: initial;
    --hover_animation: initial;
    --font-size: initial;
    --md: initial;
    --md_font-size: initial;
    --lg: initial;
    --lg_font-size: initial;
    --xl: initial;
    --xl_font-size: initial;
    --2xl: initial;
    --2xl_font-size: initial;
  }

  @layer tk1 {
    [style] {
      color: var(--color, revert-layer);
      border: var(--border, revert-layer);
      border-radius: var(--border-radius, revert-layer);
      width: var(--width, revert-layer);
      height: var(--height, revert-layer);
      transition: var(--transition, revert-layer);
    }
  }

  @layer tk2 {
    [style] {
      background-color: var(--background-color, revert-layer);
      border-bottom: var(--border-bottom, revert-layer);
      font-family: var(--font-family, revert-layer);
      font-size: var(--font-size, revert-layer);
    }
  }

  @layer tks1 {
    [style] {
      color: var(--_853it7, revert-layer);
      --_853it7: var(--hover) var(--hover_color);
      animation: var(--_1upk2ho, revert-layer);
      --_1upk2ho: var(--hover) var(--hover_animation);
    }
  }

  @layer tks2 {
    [style] {
      background-color: var(--_1r7lnia, var(--_4dvc60, revert-layer));
      --_4dvc60: var(--hover) var(--hover_background-color);
      --_1r7lnia: var(--\{\&\;focus\;hover\}) var(--\{\&\;focus\;hover\}_background-color);
      font-size: var(--_1qfo97, var(--_1tqbkib, var(--_1283h2s, var(--_1pod6o8, revert-layer))));
      --_1pod6o8: var(--md) var(--md_font-size);
      --_1283h2s: var(--lg) var(--lg_font-size);
      --_1tqbkib: var(--xl) var(--xl_font-size);
      --_1qfo97: var(--2xl) var(--2xl_font-size);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    [style]:hover {
      --hover: ;
    }
  }

  [style]:focus:hover {
    --\{\&\;focus\;hover\}: ;
  }

  @media (min-width: 700px) {
    [style] {
      --md: ;
    }
  }

  @media (min-width: 1024px) {
    [style] {
      --lg: ;
    }
  }

  @media (min-width: 1280px) {
    [style] {
      --xl: ;
    }
  }

  @media (min-width: 1536px) {
    [style] {
      --2xl: ;
    }
  }
}
