@layer global {
  *, :before, :after {
    box-sizing: border-box;
    border: 0 solid;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    tab-size: 2;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
  }

  body {
    line-height: inherit;
    margin: 0;
  }

  hr {
    color: inherit;
    border-top-width: 1px;
    height: 0;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  button, input, optgroup, select, textarea {
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  button, select {
    text-transform: none;
  }

  button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
    -webkit-appearance: button;
    background-color: #0000;
    background-image: none;
  }

  :-moz-focusring {
    outline: auto;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  progress {
    vertical-align: baseline;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
  }

  summary {
    display: list-item;
  }

  blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
  }

  fieldset {
    margin: 0;
    padding: 0;
  }

  legend {
    padding: 0;
  }

  ol, ul, menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  dialog {
    padding: 0;
  }

  textarea {
    resize: vertical;
  }

  input::placeholder, textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
  }

  :disabled {
    cursor: default;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
  }

  [hidden] {
    display: none;
  }
}

@layer tokenami {
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  :root {
    --_grid: .25rem;
    --anim_wiggle: wiggle 1s ease-in-out infinite;
    --font_sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --line_px: .0625rem solid;
    --morph_all: all cubic-bezier(.4, 0, .2, 1) .15s;
    --radii_lg: .5rem;
  }

  :root, :root [style] {
    --text_base: 1rem / 1.5rem var(--font-family);
    --text_xl: 1.25rem / 1.75rem var(--font-family);
  }

  [data-theme="light"] {
    --color_violet10: #654dc4;
    --color_violet11: #6550b9;
    --color_violet9: #6e56cf;
    --color_white12a: #fffffff2;
  }

  [data-theme="dark"] {
    --color_violet10: #7d66d9;
    --color_violet11: #baa7ff;
    --color_violet9: #6e56cf;
    --color_white12a: #fffffff2;
  }

  [style] {
    --background-color: initial;
    --hover: initial;
    --hover_background-color: initial;
    --\{\&\;focus\;hover\}: initial;
    --\{\&\;focus\;hover\}_background-color: initial;
    --color: initial;
    --border-block-end-width: initial;
    --border-color: initial;
    --border-radius: initial;
    --inline-size: initial;
    --block-size: initial;
    --transition: initial;
    --hover_animation: initial;
    --font: initial;
    --sm: initial;
    --sm_font: initial;
    --md: initial;
    --md_font: initial;
    --lg: initial;
    --lg_font: initial;
    --xl: initial;
    --xl_font: initial;
    --xxl: initial;
    --xxl_font: initial;
    --max-sm: initial;
    --max-sm_font: initial;
    --max-md: initial;
    --max-md_font: initial;
    --max-lg: initial;
    --max-lg_font: initial;
    --max-xl: initial;
    --max-xl_font: initial;
    --max-xxl: initial;
    --max-xxl_font: initial;
    --font-family: initial;
    --sm_font-family: initial;
    --md_font-family: initial;
    --lg_font-family: initial;
    --xl_font-family: initial;
    --xxl_font-family: initial;
    --max-sm_font-family: initial;
    --max-md_font-family: initial;
    --max-lg_font-family: initial;
    --max-xl_font-family: initial;
    --max-xxl_font-family: initial;
  }

  @layer tk1 {
    [style] {
      color: var(--color, revert-layer);
      border-radius: var(--border-radius, revert-layer);
      transition: var(--transition, revert-layer);
      font: var(--font, revert-layer);
    }
  }

  @layer tk2 {
    [style] {
      background-color: var(--background-color, revert-layer);
      border-color: var(--border-color, revert-layer);
      font-family: var(--font-family, revert-layer);
    }
  }

  @layer tkl1 {
    [style] {
      inline-size: var(--_g44f3h, var(--inline-size, revert-layer));
      --_g44f3h: var(--inline-size__calc) calc(var(--inline-size) * var(--_grid));
      block-size: var(--_1ieen97, var(--block-size, revert-layer));
      --_1ieen97: var(--block-size__calc) calc(var(--block-size) * var(--_grid));
    }
  }

  @layer tkl7 {
    [style] {
      border-block-end-width: var(--border-block-end-width, revert-layer);
    }
  }

  @layer tks1 {
    [style] {
      animation: var(--_1upk2ho, revert-layer);
      --_1upk2ho: var(--hover) var(--hover_animation);
      font: var(--_1bb0b2i, var(--_120bec, var(--_9a0rpd, var(--_8hbn8h, var(--_35jtee, var(--_1gipe25, var(--_mhgvlt, var(--_10ti6tm, var(--_104t2cq, var(--_qp58in, revert-layer))))))))));
      --_qp58in: var(--sm) var(--sm_font);
      --_104t2cq: var(--md) var(--md_font);
      --_10ti6tm: var(--lg) var(--lg_font);
      --_mhgvlt: var(--xl) var(--xl_font);
      --_1gipe25: var(--xxl) var(--xxl_font);
      --_35jtee: var(--max-sm) var(--max-sm_font);
      --_8hbn8h: var(--max-md) var(--max-md_font);
      --_9a0rpd: var(--max-lg) var(--max-lg_font);
      --_120bec: var(--max-xl) var(--max-xl_font);
      --_1bb0b2i: var(--max-xxl) var(--max-xxl_font);
    }
  }

  @layer tks2 {
    [style] {
      background-color: var(--_1r7lnia, var(--_4dvc60, revert-layer));
      --_4dvc60: var(--hover) var(--hover_background-color);
      --_1r7lnia: var(--\{\&\;focus\;hover\}) var(--\{\&\;focus\;hover\}_background-color);
      font-family: var(--_11ch1m1, var(--_14rohbr, var(--_1gqeccu, var(--_shai02, var(--_amcfqv, var(--_6j96ia, var(--_9d9ope, var(--_10sf9dp, var(--_1l5j3ql, var(--_1oveq08, revert-layer))))))))));
      --_1oveq08: var(--sm) var(--sm_font-family);
      --_1l5j3ql: var(--md) var(--md_font-family);
      --_10sf9dp: var(--lg) var(--lg_font-family);
      --_9d9ope: var(--xl) var(--xl_font-family);
      --_6j96ia: var(--xxl) var(--xxl_font-family);
      --_amcfqv: var(--max-sm) var(--max-sm_font-family);
      --_shai02: var(--max-md) var(--max-md_font-family);
      --_1gqeccu: var(--max-lg) var(--max-lg_font-family);
      --_14rohbr: var(--max-xl) var(--max-xl_font-family);
      --_11ch1m1: var(--max-xxl) var(--max-xxl_font-family);
    }
  }

  @media (hover: hover) and (pointer: fine) {
    [style]:not(:disabled):hover {
      --hover: ;
    }
  }

  [style]:focus:hover {
    --\{\&\;focus\;hover\}: ;
  }

  @media (min-width: 40rem) {
    [style] {
      --sm: ;
    }
  }

  @media (min-width: 48rem) {
    [style] {
      --md: ;
    }
  }

  @media (min-width: 64rem) {
    [style] {
      --lg: ;
    }
  }

  @media (min-width: 80rem) {
    [style] {
      --xl: ;
    }
  }

  @media (min-width: 96rem) {
    [style] {
      --xxl: ;
    }
  }

  @media (min-width: 39.9375rem) {
    [style] {
      --max-sm: ;
    }
  }

  @media (min-width: 47.9375rem) {
    [style] {
      --max-md: ;
    }
  }

  @media (min-width: 63.9375rem) {
    [style] {
      --max-lg: ;
    }
  }

  @media (min-width: 79.9375rem) {
    [style] {
      --max-xl: ;
    }
  }

  @media (min-width: 95.9375rem) {
    [style] {
      --max-xxl: ;
    }
  }
}
