@layer tokenami {
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  .theme-light {
    --_grid: .25rem;
    --anim_wiggle: wiggle 1s ease-in-out infinite;
    --color_primary: #f1f5f9;
    --color_secondary: #334155;
    --color_slate-700: #334155;
    --font_sans: sans-serif;
    --radii_rounded: 10px;
  }

  .theme-dark {
    --_grid: .25rem;
    --anim_wiggle: wiggle 1s ease-in-out infinite;
    --color_primary: #0ea5e9;
    --color_secondary: #f1f5f9;
    --color_slate-700: #334155;
    --font_sans: sans-serif;
    --radii_rounded: 10px;
  }

  [style] {
    --font-family: initial;
    --child: initial;
    --child_box-sizing: initial;
    --child_margin: initial;
    --child_padding: initial;
    --background-color: initial;
    --hover: initial;
    --hover_background-color: initial;
    --color: initial;
    --hover_color: initial;
    --border: initial;
    --border-bottom: initial;
    --border-radius: initial;
    --width: initial;
    --height: initial;
    --transition: initial;
    --hover_animation: initial;
    --font-size: initial;
    --md: initial;
    --md_font-size: initial;
    --lg: initial;
    --lg_font-size: initial;
    --xl: initial;
    --xl_font-size: initial;
    --2xl: initial;
    --2xl_font-size: initial;
  }

  @layer tk1 {
    [style] {
      color: var(--color, revert-layer);
      border: var(--border, revert-layer);
      border-radius: var(--border-radius, revert-layer);
      width: var(--width, revert-layer);
      height: var(--height, revert-layer);
      transition: var(--transition, revert-layer);
    }
  }

  @layer tk2 {
    [style] {
      font-family: var(--font-family, revert-layer);
      background-color: var(--background-color, revert-layer);
      border-bottom: var(--border-bottom, revert-layer);
      font-size: var(--font-size, revert-layer);
    }
  }

  @layer tks1 {
    [style], [style] *, [style] :before, [style] :after {
      box-sizing: var(--_1a0c96s, revert-layer);
      --_1a0c96s: var(--child) var(--child_box-sizing);
      margin: var(--_gipihm, revert-layer);
      --_gipihm: var(--child) var(--child_margin);
      padding: var(--_1j80s4b, revert-layer);
      --_1j80s4b: var(--child) var(--child_padding);
      color: var(--_853it7, revert-layer);
      --_853it7: var(--hover) var(--hover_color);
      animation: var(--_1upk2ho, revert-layer);
      --_1upk2ho: var(--hover) var(--hover_animation);
    }
  }

  @layer tks2 {
    [style], [style] *, [style] :before, [style] :after {
      background-color: var(--_4dvc60, revert-layer);
      --_4dvc60: var(--hover) var(--hover_background-color);
      font-size: var(--_1qfo97, var(--_1tqbkib, var(--_1283h2s, var(--_1pod6o8, revert-layer))));
      --_1pod6o8: var(--md) var(--md_font-size);
      --_1283h2s: var(--lg) var(--lg_font-size);
      --_1tqbkib: var(--xl) var(--xl_font-size);
      --_1qfo97: var(--2xl) var(--2xl_font-size);
    }
  }

  [style] *, [style] :before, [style] :after {
    --child: ;
  }

  @media (hover: hover) and (pointer: fine) {
    [style]:hover {
      --hover: ;
    }
  }

  @media (width >= 700px) {
    [style] {
      --md: ;
    }
  }

  @media (width >= 1024px) {
    [style] {
      --lg: ;
    }
  }

  @media (width >= 1280px) {
    [style] {
      --xl: ;
    }
  }

  @media (width >= 1536px) {
    [style] {
      --2xl: ;
    }
  }
}
