@layer global {
  :root {
    --font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-stretch: normal;
    --font-style: normal;
    --font-variant: normal;
    --font-weight: normal;
  }

  *, :before, :after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--font-family);
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  hr {
    color: inherit;
    border-top-width: 1px;
    height: 0;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    --font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-family: var(--font-family);
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  button, input, optgroup, select, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: none;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: none;
  }

  input:where(:not([type="button"], [type="reset"], [type="submit"])), select, textarea {
    border: 1px solid;
  }

  button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
    -webkit-appearance: button;
    appearance: button;
  }

  ::file-selector-button {
    -webkit-appearance: button;
    appearance: button;
  }

  :-moz-focusring {
    outline: auto;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  progress {
    vertical-align: baseline;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  ::webkit-search-decoration {
    -webkit-appearance: none;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  textarea {
    resize: vertical;
  }

  ::placeholder {
    opacity: 1;
    color: color-mix(in srgb, currentColor 50%, transparent);
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  [hidden]:not([hidden="until-found"]) {
    display: none;
  }
}

@layer tkb {
  @keyframes wiggle {
    0%, 100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  :root {
    --_grid: .25rem;
    --anim_wiggle: wiggle 1s ease-in-out infinite;
    --font_mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --line_px: .0625rem solid;
    --morph_all: all cubic-bezier(.4, 0, .2, 1) .15s;
    --radii_lg: .5rem;
  }

  :root, :root .button, :root [style] {
    --text_base: var(--font-stretch) var(--font-style) var(--font-variant) var(--font-weight) 1rem / 1.5rem var(--font-family);
    --text_xl: var(--font-stretch) var(--font-style) var(--font-variant) var(--font-weight) 1.25rem / 1.75rem var(--font-family);
  }

  :root, [data-theme="light"] {
    --color_violet10: #654dc4;
    --color_violet11: #6550b9;
    --color_violet9: #6e56cf;
    --color_white: #fff;
  }

  [data-theme="dark"] {
    --color_violet10: #7d66d9;
    --color_violet11: #baa7ff;
    --color_violet9: #6e56cf;
    --color_white: #fff;
  }

  .button, [style] {
    --background-color: initial;
    --hover: initial;
    --hover_background-color: initial;
    --\{\&\;focus\;hover\}: initial;
    --\{\&\;focus\;hover\}_background-color: initial;
    --border-block-end: initial;
    --border-block-color: initial;
    --border-inline-color: initial;
    --border-radius: initial;
    --inline-size: initial;
    --block-size: initial;
    --transition: initial;
    --hover_animation: initial;
    --sm: initial;
    --md: initial;
    --lg: initial;
    --xl: initial;
    --xxl: initial;
  }

  @media (hover: hover) and (pointer: fine) {
    [style]:not(:disabled):hover {
      --hover: ;
    }
  }

  [style]:focus:hover {
    --\{\&\;focus\;hover\}: ;
  }

  @media (min-width: 40rem) {
    [style] {
      --sm: ;
    }
  }

  @media (min-width: 48rem) {
    [style] {
      --md: ;
    }
  }

  @media (min-width: 64rem) {
    [style] {
      --lg: ;
    }
  }

  @media (min-width: 80rem) {
    [style] {
      --xl: ;
    }
  }

  @media (min-width: 96rem) {
    [style] {
      --xxl: ;
    }
  }
}

@layer tk1 {
  .button, [style] {
    color: var(--color, revert-layer);
    border-radius: var(--border-radius, revert-layer);
    transition: var(--transition, revert-layer);
    font: var(--font, revert-layer);
  }
}

@layer tk2 {
  .button, [style] {
    background-color: var(--background-color, revert-layer);
    font-family: var(--font-family, revert-layer);
  }
}

@layer tkl1 {
  .button, [style] {
    inline-size: var(--_g44f3h, var(--inline-size, revert-layer));
    --_g44f3h: var(--inline-size__calc) calc(var(--inline-size) * var(--_grid));
    block-size: var(--_1ieen97, var(--block-size, revert-layer));
    --_1ieen97: var(--block-size__calc) calc(var(--block-size) * var(--_grid));
  }
}

@layer tkl3 {
  .button, [style] {
    border-block-end: var(--border-block-end, revert-layer);
  }
}

@layer tkl5 {
  .button, [style] {
    border-block-color: var(--border-block-color, revert-layer);
    border-inline-color: var(--border-inline-color, revert-layer);
  }
}

@layer tks1 {
  .button, [style] {
    animation: var(--_1upk2ho, revert-layer);
    --_1upk2ho: var(--hover) var(--hover_animation);
    font: var(--_1gipe25, var(--_mhgvlt, var(--_10ti6tm, var(--_104t2cq, var(--_qp58in, revert-layer)))));
    --_qp58in: var(--sm) var(--sm_font);
    --_104t2cq: var(--md) var(--md_font);
    --_10ti6tm: var(--lg) var(--lg_font);
    --_mhgvlt: var(--xl) var(--xl_font);
    --_1gipe25: var(--xxl) var(--xxl_font);
  }
}

@layer tks2 {
  .button, [style] {
    background-color: var(--_1r7lnia, var(--_4dvc60, revert-layer));
    --_4dvc60: var(--hover) var(--hover_background-color);
    --_1r7lnia: var(--\{\&\;focus\;hover\}) var(--\{\&\;focus\;hover\}_background-color);
    font-family: var(--_6j96ia, var(--_9d9ope, var(--_10sf9dp, var(--_1l5j3ql, var(--_1oveq08, revert-layer)))));
    --_1oveq08: var(--sm) var(--sm_font-family);
    --_1l5j3ql: var(--md) var(--md_font-family);
    --_10sf9dp: var(--lg) var(--lg_font-family);
    --_9d9ope: var(--xl) var(--xl_font-family);
    --_6j96ia: var(--xxl) var(--xxl_font-family);
  }
}

@layer tkc {
  .button {
    --background-color: var(--color_violet9);
    --color: var(--color_white);
    --border-block-end: var(--line_px);
    --border-block-color: var(--color_violet11);
    --border-inline-color: var(--color_violet11);
    --border-radius: var(--radii_lg);
    --inline-size: var(---, 180px);
    --block-size: 15;
    --block-size__calc: ;
    --transition: var(--morph_all);
    --hover_background-color: var(--color_violet10);
    --hover_animation: var(--anim_wiggle);
    --\{\&\;focus\;hover\}_background-color: var(---, red);
  }
}
