name: build

on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-repo
      - run: pnpm typecheck

  test:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-repo
      - name: Install Playwright browsers
        working-directory: visual-tests/tokenami
        run: npx playwright install --with-deps
      - run: pnpm test
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
          PERCY_PULL_REQUEST: ${{ github.event.pull_request.number }}
          PERCY_TARGET_BRANCH: main

  size:
    runs-on: ubuntu-latest
    needs: [build, test]
    env:
      CI_JOB_NUMBER: 1
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-repo
      - uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # prepare script does this
          skip_step: build

  canary:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref != 'ref/head/main' && !contains(github.event.pull_request.labels.*.name, 'skip-release') }}
    environment: canary
    permissions:
      contents: write
      pull-requests: write
      statuses: write
      checks: write
      issues: write
      packages: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN_CANARY }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN_CANARY }}
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.AUTO_PAT }}
      - run: git fetch --unshallow --tags
      - uses: ./.github/actions/setup-repo
      - run: pnpm release
